openapi: 3.1.1
info:
  contact:
    email: support@joinaffinityai.com
    name: Affinity API Support
  description: "Affinity API for software platforms connecting practices to the compounder\
    \ network. A practice is the customer organization, a provider is an individual\
    \ clinician or prescriber, and a location is a physical practice site. The API\
    \ covers practice management, catalog discovery, prescription-order submission,\
    \ fulfillment tracking, and webhooks."
  title: Affinity API
  version: 2026-07-09
servers:
- description: Production
  url: https://api.joinaffinityai.com
security:
- bearerAuth: []
- affinityApiKey: []
paths:
  /v1/auth/access:
    get:
      description: "Returns the authenticated API key subject, mode, and scopes."
      operationId: getApiAccess
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getApiAccess_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: Read API key access
      tags:
      - API Keys
      x-pier:
        domain: platform.public-api
        exportName: apiAccess
        file: apps/api-v2/src/routes/platform/public-api/public-api.endpoints.ts
        name: platform.public-api.apiAccess
        visibility: public
  /v1/catalog/items:
    get:
      description: Searches the Affinity catalog across all connected compounders
        and routing restrictions.
      operationId: listCatalogItems
      parameters:
      - explode: true
        in: query
        name: query
        required: false
        schema:
          maxLength: 120
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCatalogItems_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: List catalog items
      tags:
      - Catalog
      x-pier:
        domain: platform
        exportName: catalogItems
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.catalogItems
        visibility: public
  /v1/orders:
    get:
      operationId: listOrders
      parameters:
      - explode: true
        in: query
        name: externalOrderId
        required: false
        schema:
          maxLength: 120
          minLength: 1
          type: string
        style: form
      - explode: true
        in: query
        name: patientExternalId
        required: false
        schema:
          maxLength: 120
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listOrders_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: List platform orders
      tags:
      - Platform Orders
      x-pier:
        domain: platform
        exportName: orders
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.orders
        visibility: public
    post:
      description: Creates an editable synthetic draft in test mode or releases an
        existing signed immutable prescription version in live mode.
      operationId: createOrder
      requestBody:
        content:
          application/json:
            examples:
              example1:
                value:
                  catalogItemId: catalog_item_123
                  practiceId: 3f4bd943-a34d-4d4c-aa41-00556569a71d
                  directions: Inject 0.25 mL subcutaneously once weekly.
                  externalOrderId: order_123
                  patient:
                    address:
                      city: Los Angeles
                      country: US
                      line1: 100 Main Street
                      line2: null
                      postalCode: "90001"
                      state: CA
                    dateOfBirth: 1988-05-12
                    email: patient@example.com
                    externalPatientId: patient_123
                    name: Example Patient
                    state: CA
                  prescriber:
                    credentials: MD
                    licenseStates:
                    - CA
                    name: Alex Morgan
                    npi: "1234567893"
                  prescription:
                    authorized: true
                    signedAt: 2026-07-10T12:00:00.000Z
                  quantity: 1
              example2:
                value:
                  practiceId: 3f4bd943-a34d-4d4c-aa41-00556569a71d
                  externalOrderId: live_order_123
                  pharmacyOrganizationId: 90c3eede-38fb-4d99-a1ae-a85c647e232d
                  prescriptionId: 6fb62918-a7e5-4b39-8f98-296bc16e8db5
                  prescriptionVersionId: 2a630ae6-f161-4aa5-ad3f-df98b8449398
                  registeredLocationId: ccf0fc8b-e3f5-47a6-8d5f-f00fd4ab2ddf
                  shippingAddress:
                    city: Los Angeles
                    country: US
                    line1: 100 Main Street
                    line2: null
                    postalCode: "90001"
                    state: CA
            schema:
              $ref: "#/components/schemas/createOrder_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createOrder_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: Create order
      tags:
      - Platform Orders
      x-pier:
        domain: platform
        exportName: orderCreate
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.orderCreate
        visibility: public
  /v1/orders/{orderId}:
    get:
      operationId: getOrder
      parameters:
      - explode: false
        in: path
        name: orderId
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createOrder_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: Read order
      tags:
      - Platform Orders
      x-pier:
        domain: platform
        exportName: orderRead
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.orderRead
        visibility: public
    patch:
      description: Updates an order while it remains a draft.
      operationId: updateOrder
      parameters:
      - explode: false
        in: path
        name: orderId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateOrder_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createOrder_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: Update draft order
      tags:
      - Platform Orders
      x-pier:
        domain: platform
        exportName: orderUpdate
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.orderUpdate
        visibility: public
  /v1/orders/{orderId}/cancel:
    post:
      description: Cancels an order before shipment. Corrections use cancel-and-replace.
      operationId: cancelOrder
      parameters:
      - explode: false
        in: path
        name: orderId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cancelOrder_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createOrder_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: Cancel order
      tags:
      - Platform Orders
      x-pier:
        domain: platform
        exportName: orderCancel
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.orderCancel
        visibility: public
  /v1/orders/{orderId}/events:
    get:
      operationId: listOrderEvents
      parameters:
      - explode: false
        in: path
        name: orderId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listOrderEvents_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: List order events
      tags:
      - Platform Orders
      x-pier:
        domain: platform
        exportName: orderEvents
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.orderEvents
        visibility: public
  /v1/orders/{orderId}/submit:
    post:
      description: Validates and submits an immutable order to the Affinity review
        queue.
      operationId: submitOrder
      parameters:
      - explode: false
        in: path
        name: orderId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createOrder_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: Submit order
      tags:
      - Platform Orders
      x-pier:
        domain: platform
        exportName: orderSubmit
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.orderSubmit
        visibility: public
  /v1/platform/organization:
    get:
      description: Reads the authenticated platform organization and current role.
      operationId: getPlatformOrganization
      parameters:
      - explode: true
        in: query
        name: orgId
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getPlatformOrganization_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: Read platform organization
      tags:
      - Platforms
      x-pier:
        domain: platform
        exportName: organization
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.organization
        visibility: public
  /v1/practices:
    get:
      operationId: listPractices
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPractices_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: List practices
      tags:
      - Practices
      x-pier:
        domain: platform.public-api
        exportName: practices
        file: apps/api-v2/src/routes/platform/public-api/public-api.endpoints.ts
        name: platform.public-api.practices
        visibility: public
    post:
      description: Creates a platform-owned practice. Send Idempotency-Key to safely
        retry network failures.
      operationId: createPractice
      requestBody:
        content:
          application/json:
            examples:
              example1:
                value:
                  address:
                    city: Los Angeles
                    country: US
                    line1: 100 Practice Way
                    line2: null
                    postalCode: "90001"
                    state: CA
                  attestations:
                    authorizedPracticeRelationship: true
                    authorizedPhiTransfer: true
                    minimumNecessaryPhi: true
                    providerDataAccuracy: true
                  complianceContact: null
                  externalId: practice_123
                  legalName: Example Medical Group PLLC
                  metadata: {}
                  name: Example Medical Group
                  prescribers:
                  - credentials: MD
                    licenseStates:
                    - CA
                    name: Alex Morgan
                    npi: "1234567893"
                  primaryContact:
                    email: operations@example-practice.com
                    name: Jordan Lee
                    phone: null
                  supportEmail: support@example-practice.com
                  supportPhone: null
                  timezone: America/Los_Angeles
            schema:
              $ref: "#/components/schemas/createPractice_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPractice_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: Create practice
      tags:
      - Practices
      x-pier:
        domain: platform.public-api
        exportName: practiceCreate
        file: apps/api-v2/src/routes/platform/public-api/public-api.endpoints.ts
        name: platform.public-api.practiceCreate
        visibility: public
  /v1/practices/{practiceId}:
    get:
      description: Reads a platform-owned practice by id.
      operationId: getPractice
      parameters:
      - explode: false
        in: path
        name: practiceId
        required: true
        schema:
          maxLength: 160
          minLength: 1
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPractice_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: Read practice
      tags:
      - Practices
      x-pier:
        domain: platform.public-api
        exportName: practiceRead
        file: apps/api-v2/src/routes/platform/public-api/public-api.endpoints.ts
        name: platform.public-api.practiceRead
        visibility: public
    patch:
      description: Updates a platform-owned practice. Send Idempotency-Key for safe
        retries.
      operationId: updatePractice
      parameters:
      - explode: false
        in: path
        name: practiceId
        required: true
        schema:
          maxLength: 160
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPractice_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: Update practice
      tags:
      - Practices
      x-pier:
        domain: platform.public-api
        exportName: practiceUpdate
        file: apps/api-v2/src/routes/platform/public-api/public-api.endpoints.ts
        name: platform.public-api.practiceUpdate
        visibility: public
  /v1/webhook-endpoints:
    get:
      operationId: listWebhookEndpoints
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listWebhookEndpoints_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: List webhook endpoints
      tags:
      - Platform Webhooks
      x-pier:
        domain: platform
        exportName: webhookEndpoints
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.webhookEndpoints
        visibility: public
    post:
      operationId: createWebhookEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createWebhookEndpoint_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createWebhookEndpoint_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: Create webhook endpoint
      tags:
      - Platform Webhooks
      x-pier:
        domain: platform
        exportName: webhookEndpointCreate
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.webhookEndpointCreate
        visibility: public
  /v1/webhook-endpoints/{endpointId}:
    delete:
      operationId: deleteWebhookEndpoint
      parameters:
      - explode: false
        in: path
        name: endpointId
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteWebhookEndpoint_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: Disable webhook endpoint
      tags:
      - Platform Webhooks
      x-pier:
        domain: platform
        exportName: webhookEndpointDelete
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.webhookEndpointDelete
        visibility: public
    patch:
      operationId: updateWebhookEndpoint
      parameters:
      - explode: false
        in: path
        name: endpointId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateWebhookEndpoint_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteWebhookEndpoint_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: Update webhook endpoint
      tags:
      - Platform Webhooks
      x-pier:
        domain: platform
        exportName: webhookEndpointUpdate
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.webhookEndpointUpdate
        visibility: public
  /v1/webhook-endpoints/{endpointId}/rotate-secret:
    post:
      operationId: rotateWebhookEndpointSecret
      parameters:
      - explode: false
        in: path
        name: endpointId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createWebhookEndpoint_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: Rotate webhook signing secret
      tags:
      - Platform Webhooks
      x-pier:
        domain: platform
        exportName: webhookEndpointRotateSecret
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.webhookEndpointRotateSecret
        visibility: public
  /v1/webhook-events:
    get:
      operationId: listWebhookEvents
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listWebhookEvents_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: List webhook events
      tags:
      - Platform Webhooks
      x-pier:
        domain: platform
        exportName: webhookEvents
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.webhookEvents
        visibility: public
  /v1/webhook-events/{eventId}:
    get:
      operationId: getWebhookEvent
      parameters:
      - explode: false
        in: path
        name: eventId
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getWebhookEvent_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: Read webhook event attempts
      tags:
      - Platform Webhooks
      x-pier:
        domain: platform
        exportName: webhookEventRead
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.webhookEventRead
        visibility: public
  /v1/webhook-events/{eventId}/replay:
    post:
      operationId: replayWebhookEvent
      parameters:
      - explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/replayWebhookEvent_200_response"
          description: Successful response
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/ErrorResponse"
        "403":
          $ref: "#/components/responses/ErrorResponse"
        "404":
          $ref: "#/components/responses/ErrorResponse"
        "409":
          $ref: "#/components/responses/ErrorResponse"
        "422":
          $ref: "#/components/responses/ErrorResponse"
        "429":
          $ref: "#/components/responses/ErrorResponse"
      summary: Replay webhook event
      tags:
      - Platform Webhooks
      x-pier:
        domain: platform
        exportName: webhookEventReplay
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.webhookEventReplay
        visibility: public
components:
  headers:
    AffinityVersion:
      description: The effective dated Affinity API contract version.
      explode: false
      schema:
        example: 2026-07-09
        type: string
      style: simple
    RequestId:
      description: Identifier used to correlate a request with Affinity support and
        logs.
      explode: false
      schema:
        nullable: true
        type: string
      style: simple
  parameters:
    AffinityVersion:
      description: Pinned dated API contract version.
      example: 2026-07-09
      explode: false
      in: header
      name: Affinity-Version
      required: false
      schema:
        nullable: true
        type: string
      style: simple
    IdempotencyKey:
      description: Unique operation key required for every mutation.
      explode: false
      in: header
      name: Idempotency-Key
      required: true
      schema:
        maxLength: 255
      style: simple
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
      description: The request could not be completed.
  schemas:
    Error:
      additionalProperties: false
      example:
        code: code
        requestId: requestId
        message: message
      properties:
        code:
          description: Stable machine-readable error code.
          type: string
        message:
          description: Human-readable error summary.
          type: string
        requestId:
          description: Request identifier for support.
          type: string
      required:
      - code
      - message
      - requestId
    getApiAccess_200_response_apiKey:
      additionalProperties: {}
      example:
        id: id
        keyPrefix: keyPrefix
        object: api_key
      properties:
        id:
          type: string
        keyPrefix:
          type: string
        object:
          enum:
          - api_key
          type: string
      required:
      - id
      - keyPrefix
      - object
    getApiAccess_200_response_serviceAccount:
      additionalProperties: {}
      example:
        id: id
        subjectType: subjectType
        subjectId: subjectId
        object: service_account
      properties:
        id:
          type: string
        object:
          enum:
          - service_account
          type: string
        subjectId:
          type: string
        subjectType:
          type: string
      required:
      - id
      - object
      - subjectId
      - subjectType
    getApiAccess_200_response:
      additionalProperties: {}
      example:
        apiKey:
          id: id
          keyPrefix: keyPrefix
          object: api_key
        livemode: true
        serviceAccount:
          id: id
          subjectType: subjectType
          subjectId: subjectId
          object: service_account
        scopes:
        - scopes
        - scopes
        object: api_access
      properties:
        apiKey:
          $ref: "#/components/schemas/getApiAccess_200_response_apiKey"
        livemode:
          type: boolean
        object:
          enum:
          - api_access
          type: string
        scopes:
          items:
            type: string
          type: array
        serviceAccount:
          $ref: "#/components/schemas/getApiAccess_200_response_serviceAccount"
      required:
      - apiKey
      - livemode
      - object
      - scopes
      - serviceAccount
    listCatalogItems_200_response_items_inner:
      additionalProperties: {}
      example:
        compounderId: compounderId
        strength: strength
        facilityType: facilityType
        dosageForm: dosageForm
        description: description
        restrictedStates:
        - restrictedStates
        - restrictedStates
        isOrderable: true
        route: route
        patientSpecificRequired: true
        allowedStates:
        - allowedStates
        - allowedStates
        name: name
        compounderName: compounderName
        coldShip: true
        id: id
        catalogKind: catalogKind
      properties:
        allowedStates:
          items:
            type: string
          type: array
        catalogKind:
          nullable: true
          type: string
        coldShip:
          type: boolean
        compounderId:
          nullable: true
          type: string
        compounderName:
          nullable: true
          type: string
        description:
          nullable: true
          type: string
        dosageForm:
          nullable: true
          type: string
        facilityType:
          nullable: true
          type: string
        id:
          nullable: true
          type: string
        isOrderable:
          type: boolean
        name:
          nullable: true
          type: string
        patientSpecificRequired:
          type: boolean
        restrictedStates:
          items:
            type: string
          type: array
        route:
          nullable: true
          type: string
        strength:
          nullable: true
          type: string
      required:
      - allowedStates
      - catalogKind
      - coldShip
      - compounderId
      - compounderName
      - description
      - dosageForm
      - facilityType
      - id
      - isOrderable
      - name
      - patientSpecificRequired
      - restrictedStates
      - route
      - strength
    listCatalogItems_200_response:
      additionalProperties: {}
      example:
        items:
        - compounderId: compounderId
          strength: strength
          facilityType: facilityType
          dosageForm: dosageForm
          description: description
          restrictedStates:
          - restrictedStates
          - restrictedStates
          isOrderable: true
          route: route
          patientSpecificRequired: true
          allowedStates:
          - allowedStates
          - allowedStates
          name: name
          compounderName: compounderName
          coldShip: true
          id: id
          catalogKind: catalogKind
        - compounderId: compounderId
          strength: strength
          facilityType: facilityType
          dosageForm: dosageForm
          description: description
          restrictedStates:
          - restrictedStates
          - restrictedStates
          isOrderable: true
          route: route
          patientSpecificRequired: true
          allowedStates:
          - allowedStates
          - allowedStates
          name: name
          compounderName: compounderName
          coldShip: true
          id: id
          catalogKind: catalogKind
      properties:
        items:
          items:
            $ref: "#/components/schemas/listCatalogItems_200_response_items_inner"
          type: array
      required:
      - items
    listOrders_200_response_orders_inner_routing:
      additionalProperties: {}
      example:
        selectedCompounderId: selectedCompounderId
        blockedReasons:
        - blockedReasons
        - blockedReasons
        candidateCompounderIds:
        - candidateCompounderIds
        - candidateCompounderIds
        coldShip: true
      nullable: true
      properties:
        blockedReasons:
          items:
            type: string
          type: array
        candidateCompounderIds:
          items:
            type: string
          type: array
        coldShip:
          type: boolean
        selectedCompounderId:
          nullable: true
          type: string
      required:
      - blockedReasons
      - candidateCompounderIds
      - coldShip
      - selectedCompounderId
    listOrders_200_response_orders_inner:
      additionalProperties: {}
      example:
        compounderId: compounderId
        medicationName: medicationName
        livemode: true
        strength: strength
        prescriberName: prescriberName
        externalSubmissionBlockedReason: externalSubmissionBlockedReason
        patientExternalId: patientExternalId
        quoteCents: 6.027456183070403
        createdAt: createdAt
        routing:
          selectedCompounderId: selectedCompounderId
          blockedReasons:
          - blockedReasons
          - blockedReasons
          candidateCompounderIds:
          - candidateCompounderIds
          - candidateCompounderIds
          coldShip: true
        prescriberNpi: prescriberNpi
        currency: currency
        id: id
        trackingNumber: trackingNumber
        updatedAt: updatedAt
        patientName: patientName
        quantity: 0.8008281904610115
        cancellationReason: cancellationReason
        dosageForm: dosageForm
        practiceId: practiceId
        externalOrderId: externalOrderId
        deliveredAt: deliveredAt
        catalogItemId: catalogItemId
        carrier: carrier
        directions: directions
        shippedAt: shippedAt
        patientState: patientState
        externalSubmissionAttempted: true
        replacesOrderId: replacesOrderId
      properties:
        cancellationReason:
          nullable: true
          type: string
        carrier:
          nullable: true
          type: string
        catalogItemId:
          nullable: true
          type: string
        compounderId:
          nullable: true
          type: string
        createdAt:
          nullable: true
          type: string
        currency:
          nullable: true
          type: string
        deliveredAt:
          nullable: true
          type: string
        directions:
          nullable: true
          type: string
        dosageForm:
          nullable: true
          type: string
        externalOrderId:
          nullable: true
          type: string
        externalSubmissionAttempted:
          type: boolean
        externalSubmissionBlockedReason:
          nullable: true
          type: string
        id:
          nullable: true
          type: string
        livemode:
          type: boolean
        medicationName:
          nullable: true
          type: string
        patientExternalId:
          nullable: true
          type: string
        patientName:
          nullable: true
          type: string
        patientState:
          nullable: true
          type: string
        practiceId:
          nullable: true
          type: string
        prescriberName:
          nullable: true
          type: string
        prescriberNpi:
          nullable: true
          type: string
        quantity:
          type: number
        quoteCents:
          nullable: true
          type: number
        replacesOrderId:
          nullable: true
          type: string
        routing:
          $ref: "#/components/schemas/listOrders_200_response_orders_inner_routing"
        shippedAt:
          nullable: true
          type: string
        strength:
          nullable: true
          type: string
        trackingNumber:
          nullable: true
          type: string
        updatedAt:
          nullable: true
          type: string
      required:
      - cancellationReason
      - carrier
      - catalogItemId
      - compounderId
      - createdAt
      - currency
      - deliveredAt
      - directions
      - dosageForm
      - externalOrderId
      - externalSubmissionAttempted
      - externalSubmissionBlockedReason
      - id
      - livemode
      - medicationName
      - patientExternalId
      - patientName
      - patientState
      - practiceId
      - prescriberName
      - prescriberNpi
      - quantity
      - quoteCents
      - replacesOrderId
      - routing
      - shippedAt
      - strength
      - trackingNumber
      - updatedAt
    listOrders_200_response:
      additionalProperties: {}
      example:
        orders:
        - compounderId: compounderId
          medicationName: medicationName
          livemode: true
          strength: strength
          prescriberName: prescriberName
          externalSubmissionBlockedReason: externalSubmissionBlockedReason
          patientExternalId: patientExternalId
          quoteCents: 6.027456183070403
          createdAt: createdAt
          routing:
            selectedCompounderId: selectedCompounderId
            blockedReasons:
            - blockedReasons
            - blockedReasons
            candidateCompounderIds:
            - candidateCompounderIds
            - candidateCompounderIds
            coldShip: true
          prescriberNpi: prescriberNpi
          currency: currency
          id: id
          trackingNumber: trackingNumber
          updatedAt: updatedAt
          patientName: patientName
          quantity: 0.8008281904610115
          cancellationReason: cancellationReason
          dosageForm: dosageForm
          practiceId: practiceId
          externalOrderId: externalOrderId
          deliveredAt: deliveredAt
          catalogItemId: catalogItemId
          carrier: carrier
          directions: directions
          shippedAt: shippedAt
          patientState: patientState
          externalSubmissionAttempted: true
          replacesOrderId: replacesOrderId
        - compounderId: compounderId
          medicationName: medicationName
          livemode: true
          strength: strength
          prescriberName: prescriberName
          externalSubmissionBlockedReason: externalSubmissionBlockedReason
          patientExternalId: patientExternalId
          quoteCents: 6.027456183070403
          createdAt: createdAt
          routing:
            selectedCompounderId: selectedCompounderId
            blockedReasons:
            - blockedReasons
            - blockedReasons
            candidateCompounderIds:
            - candidateCompounderIds
            - candidateCompounderIds
            coldShip: true
          prescriberNpi: prescriberNpi
          currency: currency
          id: id
          trackingNumber: trackingNumber
          updatedAt: updatedAt
          patientName: patientName
          quantity: 0.8008281904610115
          cancellationReason: cancellationReason
          dosageForm: dosageForm
          practiceId: practiceId
          externalOrderId: externalOrderId
          deliveredAt: deliveredAt
          catalogItemId: catalogItemId
          carrier: carrier
          directions: directions
          shippedAt: shippedAt
          patientState: patientState
          externalSubmissionAttempted: true
          replacesOrderId: replacesOrderId
      properties:
        orders:
          items:
            $ref: "#/components/schemas/listOrders_200_response_orders_inner"
          type: array
      required:
      - orders
    createOrder_request_anyOf_patient_address:
      properties:
        city:
          maxLength: 120
          minLength: 1
          type: string
        country:
          default: US
          maxLength: 2
          minLength: 2
          type: string
        line1:
          maxLength: 180
          minLength: 1
          type: string
        line2:
          maxLength: 180
          nullable: true
          type: string
        postalCode:
          maxLength: 20
          minLength: 1
          type: string
        state:
          maxLength: 2
          minLength: 2
          type: string
      required:
      - city
      - line1
      - postalCode
      - state
    createOrder_request_anyOf_patient:
      properties:
        address:
          $ref: "#/components/schemas/createOrder_request_anyOf_patient_address"
        dateOfBirth:
          format: date
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\\
            d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\\
            d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
          type: string
        email:
          format: email
          pattern: "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\\
            -]*\\.)+[A-Za-z]{2,}$"
          type: string
        externalPatientId:
          maxLength: 120
          minLength: 1
          type: string
        name:
          maxLength: 200
          minLength: 1
          type: string
        phone:
          maxLength: 40
          minLength: 7
          type: string
        state:
          maxLength: 2
          minLength: 2
          type: string
      required:
      - address
      - dateOfBirth
      - externalPatientId
      - name
      - state
    createOrder_request_anyOf_prescriber:
      properties:
        credentials:
          maxLength: 80
          minLength: 1
          type: string
        licenseStates:
          items:
            maxLength: 2
            minLength: 2
            type: string
          minItems: 1
          type: array
        name:
          maxLength: 160
          minLength: 1
          nullable: true
          type: string
        npi:
          pattern: "^\\d{10}$"
          type: string
      required:
      - licenseStates
      - name
      - npi
    createOrder_request_anyOf_prescription:
      properties:
        authorized:
          enum:
          - true
          type: boolean
        signedAt:
          format: date-time
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\\
            d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\\
            d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\\
            d(?:\\.\\d+)?)?(?:Z))$"
          type: string
      required:
      - authorized
      - signedAt
    createOrder_request_anyOf:
      properties:
        catalogItemId:
          minLength: 1
          type: string
        practiceId:
          maxLength: 160
          minLength: 1
          type: string
        directions:
          maxLength: 2000
          minLength: 1
          type: string
        externalOrderId:
          maxLength: 120
          minLength: 1
          type: string
        patient:
          $ref: "#/components/schemas/createOrder_request_anyOf_patient"
        prescriber:
          $ref: "#/components/schemas/createOrder_request_anyOf_prescriber"
        prescription:
          $ref: "#/components/schemas/createOrder_request_anyOf_prescription"
        quantity:
          default: 1
          exclusiveMinimum: true
          maximum: 9007199254740991
          minimum: 0
          type: integer
        replacesOrderId:
          format: uuid
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          type: string
      required:
      - catalogItemId
      - directions
      - externalOrderId
      - patient
      - practiceId
      - prescriber
      - prescription
    createOrder_request_anyOf_1_shippingAddress:
      properties:
        city:
          maxLength: 120
          minLength: 1
          type: string
        country:
          default: US
          maxLength: 2
          minLength: 2
          type: string
        line1:
          maxLength: 180
          minLength: 1
          nullable: true
          type: string
        line2:
          maxLength: 180
          nullable: true
          type: string
        postalCode:
          maxLength: 20
          minLength: 1
          type: string
        state:
          maxLength: 2
          minLength: 2
          type: string
      required:
      - city
      - line1
      - postalCode
      - state
    createOrder_request_anyOf_1:
      properties:
        practiceId:
          maxLength: 160
          minLength: 1
          nullable: true
          type: string
        externalOrderId:
          maxLength: 120
          minLength: 1
          type: string
        pharmacyOrganizationId:
          format: uuid
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          type: string
        prescriptionId:
          format: uuid
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          type: string
        prescriptionVersionId:
          format: uuid
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          type: string
        registeredLocationId:
          format: uuid
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          type: string
        shippingAddress:
          $ref: "#/components/schemas/createOrder_request_anyOf_1_shippingAddress"
      required:
      - externalOrderId
      - pharmacyOrganizationId
      - practiceId
      - prescriptionId
      - prescriptionVersionId
      - registeredLocationId
      - shippingAddress
    createOrder_request:
      anyOf:
      - $ref: "#/components/schemas/createOrder_request_anyOf"
      - $ref: "#/components/schemas/createOrder_request_anyOf_1"
    createOrder_200_response_order_routing:
      additionalProperties: false
      example:
        selectedCompounderId: selectedCompounderId
        blockedReasons:
        - blockedReasons
        - blockedReasons
        candidateCompounderIds:
        - candidateCompounderIds
        - candidateCompounderIds
        coldShip: true
      nullable: true
      properties:
        blockedReasons:
          items:
            type: string
          type: array
        candidateCompounderIds:
          items:
            type: string
          type: array
        coldShip:
          type: boolean
        selectedCompounderId:
          nullable: true
          type: string
      required:
      - blockedReasons
      - candidateCompounderIds
      - coldShip
      - selectedCompounderId
    createOrder_200_response_order:
      additionalProperties: false
      example:
        compounderId: compounderId
        medicationName: medicationName
        livemode: true
        strength: strength
        prescriberName: prescriberName
        externalSubmissionBlockedReason: externalSubmissionBlockedReason
        patientExternalId: patientExternalId
        quoteCents: 6.027456183070403
        createdAt: createdAt
        routing:
          selectedCompounderId: selectedCompounderId
          blockedReasons:
          - blockedReasons
          - blockedReasons
          candidateCompounderIds:
          - candidateCompounderIds
          - candidateCompounderIds
          coldShip: true
        prescriberNpi: prescriberNpi
        currency: currency
        id: id
        trackingNumber: trackingNumber
        updatedAt: updatedAt
        patientName: patientName
        quantity: 0.8008281904610115
        cancellationReason: cancellationReason
        dosageForm: dosageForm
        practiceId: practiceId
        externalOrderId: externalOrderId
        deliveredAt: deliveredAt
        catalogItemId: catalogItemId
        carrier: carrier
        directions: directions
        shippedAt: shippedAt
        patientState: patientState
        externalSubmissionAttempted: true
        replacesOrderId: replacesOrderId
      properties:
        cancellationReason:
          nullable: true
          type: string
        carrier:
          nullable: true
          type: string
        catalogItemId:
          nullable: true
          type: string
        compounderId:
          nullable: true
          type: string
        createdAt:
          type: string
        currency:
          type: string
        deliveredAt:
          nullable: true
          type: string
        directions:
          type: string
        dosageForm:
          nullable: true
          type: string
        externalOrderId:
          type: string
        externalSubmissionAttempted:
          type: boolean
        externalSubmissionBlockedReason:
          nullable: true
          type: string
        id:
          type: string
        livemode:
          type: boolean
        medicationName:
          type: string
        patientExternalId:
          type: string
        patientName:
          type: string
        patientState:
          type: string
        practiceId:
          nullable: true
          type: string
        prescriberName:
          nullable: true
          type: string
        prescriberNpi:
          nullable: true
          type: string
        quantity:
          type: number
        quoteCents:
          nullable: true
          type: number
        replacesOrderId:
          nullable: true
          type: string
        routing:
          $ref: "#/components/schemas/createOrder_200_response_order_routing"
        shippedAt:
          nullable: true
          type: string
        strength:
          nullable: true
          type: string
        trackingNumber:
          nullable: true
          type: string
        updatedAt:
          type: string
      required:
      - cancellationReason
      - carrier
      - catalogItemId
      - compounderId
      - createdAt
      - currency
      - deliveredAt
      - directions
      - dosageForm
      - externalOrderId
      - externalSubmissionAttempted
      - externalSubmissionBlockedReason
      - id
      - livemode
      - medicationName
      - patientExternalId
      - patientName
      - patientState
      - practiceId
      - prescriberName
      - prescriberNpi
      - quantity
      - quoteCents
      - replacesOrderId
      - routing
      - shippedAt
      - strength
      - trackingNumber
      - updatedAt
    createOrder_200_response:
      additionalProperties: {}
      example:
        order:
          compounderId: compounderId
          medicationName: medicationName
          livemode: true
          strength: strength
          prescriberName: prescriberName
          externalSubmissionBlockedReason: externalSubmissionBlockedReason
          patientExternalId: patientExternalId
          quoteCents: 6.027456183070403
          createdAt: createdAt
          routing:
            selectedCompounderId: selectedCompounderId
            blockedReasons:
            - blockedReasons
            - blockedReasons
            candidateCompounderIds:
            - candidateCompounderIds
            - candidateCompounderIds
            coldShip: true
          prescriberNpi: prescriberNpi
          currency: currency
          id: id
          trackingNumber: trackingNumber
          updatedAt: updatedAt
          patientName: patientName
          quantity: 0.8008281904610115
          cancellationReason: cancellationReason
          dosageForm: dosageForm
          practiceId: practiceId
          externalOrderId: externalOrderId
          deliveredAt: deliveredAt
          catalogItemId: catalogItemId
          carrier: carrier
          directions: directions
          shippedAt: shippedAt
          patientState: patientState
          externalSubmissionAttempted: true
          replacesOrderId: replacesOrderId
      properties:
        order:
          $ref: "#/components/schemas/createOrder_200_response_order"
      required:
      - order
    updateOrder_request:
      additionalProperties: {}
      properties:
        quantity:
          nullable: true
          type: number
      required:
      - orderId
    cancelOrder_request:
      additionalProperties: {}
      properties:
        reason:
          maxLength: 1000
          minLength: 1
          type: string
      required:
      - reason
    listOrderEvents_200_response_events_inner:
      additionalProperties: {}
      example:
        createdAt: createdAt
        eventType: eventType
        id: id
        message: message
      properties:
        createdAt:
          nullable: true
          type: string
        eventType:
          nullable: true
          type: string
        id:
          nullable: true
          type: string
        message:
          nullable: true
          type: string
      required:
      - createdAt
      - eventType
      - id
      - message
    listOrderEvents_200_response:
      additionalProperties: {}
      example:
        events:
        - createdAt: createdAt
          eventType: eventType
          id: id
          message: message
        - createdAt: createdAt
          eventType: eventType
          id: id
          message: message
      properties:
        events:
          items:
            $ref: "#/components/schemas/listOrderEvents_200_response_events_inner"
          type: array
      required:
      - events
    getPlatformOrganization_200_response_account:
      additionalProperties: {}
      example:
        organizationId: organizationId
        supportEmail: supportEmail
        alertIntegrationIssues: true
        websiteUrl: websiteUrl
        alertNewOrders: true
        displayName: displayName
        alertStatusChanges: true
        alertEmails:
        - alertEmails
        - alertEmails
        id: id
        slug: slug
      properties:
        alertEmails:
          items:
            type: string
          type: array
        alertIntegrationIssues:
          type: boolean
        alertNewOrders:
          type: boolean
        alertStatusChanges:
          type: boolean
        displayName:
          nullable: true
          type: string
        id:
          nullable: true
          type: string
        organizationId:
          nullable: true
          type: string
        slug:
          nullable: true
          type: string
        supportEmail:
          nullable: true
          type: string
        websiteUrl:
          nullable: true
          type: string
      required:
      - alertEmails
      - alertIntegrationIssues
      - alertNewOrders
      - alertStatusChanges
      - displayName
      - id
      - organizationId
      - slug
      - supportEmail
      - websiteUrl
    getPlatformOrganization_200_response_membership:
      additionalProperties: {}
      example:
        roleName: roleName
      properties:
        roleName:
          nullable: true
          type: string
      required:
      - roleName
    getPlatformOrganization_200_response_user:
      additionalProperties: {}
      example:
        emailVerified: true
        image: image
        twoFactorEnabled: true
        name: name
        userId: userId
        email: email
      properties:
        email:
          nullable: true
          type: string
        emailVerified:
          type: boolean
        image:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        twoFactorEnabled:
          type: boolean
        userId:
          nullable: true
          type: string
      required:
      - email
      - image
      - name
      - userId
    getPlatformOrganization_200_response:
      additionalProperties: {}
      example:
        membership:
          roleName: roleName
        user:
          emailVerified: true
          image: image
          twoFactorEnabled: true
          name: name
          userId: userId
          email: email
        account:
          organizationId: organizationId
          supportEmail: supportEmail
          alertIntegrationIssues: true
          websiteUrl: websiteUrl
          alertNewOrders: true
          displayName: displayName
          alertStatusChanges: true
          alertEmails:
          - alertEmails
          - alertEmails
          id: id
          slug: slug
      properties:
        account:
          $ref: "#/components/schemas/getPlatformOrganization_200_response_account"
        membership:
          $ref: "#/components/schemas/getPlatformOrganization_200_response_membership"
        user:
          $ref: "#/components/schemas/getPlatformOrganization_200_response_user"
      required:
      - account
      - membership
      - user
    listPractices_200_response_data_inner_address:
      additionalProperties: {}
      example:
        country: country
        city: city
        postalCode: postalCode
        state: state
        line2: line2
        line1: line1
      nullable: true
      properties:
        city:
          maxLength: 120
          minLength: 1
          type: string
        country:
          nullable: true
          type: string
        line1:
          maxLength: 180
          minLength: 1
          nullable: true
          type: string
        line2:
          maxLength: 180
          nullable: true
          type: string
        postalCode:
          maxLength: 20
          minLength: 1
          type: string
        state:
          nullable: true
          type: string
      required:
      - city
      - line1
      - postalCode
      - state
    listPractices_200_response_data_inner_contacts_compliance:
      additionalProperties: {}
      example:
        phone: phone
        name: name
        email: email
      nullable: true
      properties:
        email:
          nullable: true
          type: string
        name:
          maxLength: 160
          minLength: 1
          nullable: true
          type: string
        phone:
          maxLength: 40
          minLength: 7
          nullable: true
          type: string
      required:
      - email
      - name
    listPractices_200_response_data_inner_contacts_primary:
      additionalProperties: false
      example:
        phone: phone
        name: name
        email: email
      nullable: true
      properties:
        email:
          type: string
        name:
          maxLength: 160
          minLength: 1
          type: string
        phone:
          maxLength: 40
          minLength: 7
          nullable: true
          type: string
      required:
      - email
      - name
    listPractices_200_response_data_inner_contacts:
      additionalProperties: {}
      example:
        compliance:
          phone: phone
          name: name
          email: email
        primary:
          phone: phone
          name: name
          email: email
      properties:
        compliance:
          $ref: "#/components/schemas/listPractices_200_response_data_inner_contacts_compliance"
        primary:
          $ref: "#/components/schemas/listPractices_200_response_data_inner_contacts_primary"
      required:
      - compliance
      - primary
    listPractices_200_response_data_inner_prescribers_inner:
      additionalProperties: {}
      example:
        credentials: credentials
        licenseStates:
        - licenseStates
        - licenseStates
        npi: npi
        name: name
      properties:
        credentials:
          maxLength: 80
          minLength: 1
          nullable: true
          type: string
        licenseStates:
          items:
            type: string
          type: array
        name:
          maxLength: 160
          minLength: 1
          nullable: true
          type: string
        npi:
          nullable: true
          type: string
      required:
      - licenseStates
      - name
      - npi
    listPractices_200_response_data_inner:
      additionalProperties: {}
      example:
        legalName: legalName
        supportEmail: supportEmail
        address:
          country: country
          city: city
          postalCode: postalCode
          state: state
          line2: line2
          line1: line1
        created: 0.8008281904610115
        timezone: timezone
        supportPhone: supportPhone
        name: name
        externalId: externalId
        id: id
        contacts:
          compliance:
            phone: phone
            name: name
            email: email
          primary:
            phone: phone
            name: name
            email: email
        prescribers:
        - credentials: credentials
          licenseStates:
          - licenseStates
          - licenseStates
          npi: npi
          name: name
        - credentials: credentials
          licenseStates:
          - licenseStates
          - licenseStates
          npi: npi
          name: name
        object: practice
      properties:
        address:
          $ref: "#/components/schemas/listPractices_200_response_data_inner_address"
        contacts:
          $ref: "#/components/schemas/listPractices_200_response_data_inner_contacts"
        created:
          nullable: true
          type: number
        externalId:
          nullable: true
          type: string
        id:
          nullable: true
          type: string
        legalName:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        object:
          enum:
          - practice
          type: string
        prescribers:
          items:
            $ref: "#/components/schemas/listPractices_200_response_data_inner_prescribers_inner"
          type: array
        supportEmail:
          nullable: true
          type: string
        supportPhone:
          nullable: true
          type: string
        timezone:
          nullable: true
          type: string
      required:
      - address
      - contacts
      - created
      - externalId
      - id
      - legalName
      - name
      - object
      - prescribers
      - supportEmail
      - supportPhone
      - timezone
    listPractices_200_response:
      additionalProperties: {}
      example:
        data:
        - legalName: legalName
          supportEmail: supportEmail
          address:
            country: country
            city: city
            postalCode: postalCode
            state: state
            line2: line2
            line1: line1
          created: 0.8008281904610115
          timezone: timezone
          supportPhone: supportPhone
          name: name
          externalId: externalId
          id: id
          contacts:
            compliance:
              phone: phone
              name: name
              email: email
            primary:
              phone: phone
              name: name
              email: email
          prescribers:
          - credentials: credentials
            licenseStates:
            - licenseStates
            - licenseStates
            npi: npi
            name: name
          - credentials: credentials
            licenseStates:
            - licenseStates
            - licenseStates
            npi: npi
            name: name
          object: practice
        - legalName: legalName
          supportEmail: supportEmail
          address:
            country: country
            city: city
            postalCode: postalCode
            state: state
            line2: line2
            line1: line1
          created: 0.8008281904610115
          timezone: timezone
          supportPhone: supportPhone
          name: name
          externalId: externalId
          id: id
          contacts:
            compliance:
              phone: phone
              name: name
              email: email
            primary:
              phone: phone
              name: name
              email: email
          prescribers:
          - credentials: credentials
            licenseStates:
            - licenseStates
            - licenseStates
            npi: npi
            name: name
          - credentials: credentials
            licenseStates:
            - licenseStates
            - licenseStates
            npi: npi
            name: name
          object: practice
        hasMore: true
        object: list
      properties:
        data:
          items:
            $ref: "#/components/schemas/listPractices_200_response_data_inner"
          type: array
        hasMore:
          type: boolean
        object:
          enum:
          - list
          type: string
      required:
      - data
      - hasMore
      - object
    createPractice_request_address:
      additionalProperties: false
      properties:
        city:
          maxLength: 120
          minLength: 1
          type: string
        country:
          type: string
        line1:
          maxLength: 180
          minLength: 1
          type: string
        line2:
          maxLength: 180
          nullable: true
          type: string
        postalCode:
          maxLength: 20
          minLength: 1
          type: string
        state:
          type: string
      required:
      - city
      - line1
      - postalCode
      - state
    createPractice_request_attestations:
      additionalProperties: {}
      properties:
        authorizedPhiTransfer:
          type: boolean
        authorizedPracticeRelationship:
          type: boolean
        minimumNecessaryPhi:
          type: boolean
        providerDataAccuracy:
          type: boolean
      required:
      - authorizedPhiTransfer
      - authorizedPracticeRelationship
      - minimumNecessaryPhi
      - providerDataAccuracy
    createPractice_request_prescribers_inner:
      additionalProperties: false
      example:
        credentials: credentials
        licenseStates:
        - licenseStates
        - licenseStates
        npi: npi
        name: name
      properties:
        credentials:
          maxLength: 80
          minLength: 1
          nullable: true
          type: string
        licenseStates:
          items:
            type: string
          type: array
        name:
          maxLength: 160
          minLength: 1
          type: string
        npi:
          type: string
      required:
      - licenseStates
      - name
      - npi
    createPractice_request:
      additionalProperties: {}
      properties:
        address:
          $ref: "#/components/schemas/createPractice_request_address"
        attestations:
          $ref: "#/components/schemas/createPractice_request_attestations"
        complianceContact:
          $ref: "#/components/schemas/listPractices_200_response_data_inner_contacts_primary"
        externalId:
          maxLength: 160
          minLength: 1
          nullable: true
          type: string
        legalName:
          maxLength: 180
          minLength: 1
          nullable: true
          type: string
        name:
          maxLength: 160
          minLength: 1
          nullable: true
          type: string
        prescribers:
          items:
            $ref: "#/components/schemas/createPractice_request_prescribers_inner"
          type: array
        primaryContact:
          $ref: "#/components/schemas/listPractices_200_response_data_inner_contacts_primary"
        supportEmail:
          nullable: true
          type: string
        supportPhone:
          maxLength: 40
          minLength: 7
          nullable: true
          type: string
        timezone:
          maxLength: 80
          minLength: 1
          nullable: true
          type: string
      required:
      - address
      - attestations
      - name
    createPractice_200_response_address:
      additionalProperties: false
      example:
        country: country
        city: city
        postalCode: postalCode
        state: state
        line2: line2
        line1: line1
      nullable: true
      properties:
        city:
          maxLength: 120
          minLength: 1
          type: string
        country:
          type: string
        line1:
          maxLength: 180
          minLength: 1
          type: string
        line2:
          maxLength: 180
          nullable: true
          type: string
        postalCode:
          maxLength: 20
          minLength: 1
          type: string
        state:
          type: string
      required:
      - city
      - line1
      - postalCode
      - state
    createPractice_200_response_contacts:
      additionalProperties: {}
      example:
        compliance:
          phone: phone
          name: name
          email: email
        primary:
          phone: phone
          name: name
          email: email
      properties:
        compliance:
          $ref: "#/components/schemas/listPractices_200_response_data_inner_contacts_primary"
        primary:
          $ref: "#/components/schemas/listPractices_200_response_data_inner_contacts_primary"
      required:
      - compliance
      - primary
    createPractice_200_response:
      additionalProperties: {}
      example:
        legalName: legalName
        supportEmail: supportEmail
        address:
          country: country
          city: city
          postalCode: postalCode
          state: state
          line2: line2
          line1: line1
        created: 0.8008281904610115
        timezone: timezone
        supportPhone: supportPhone
        name: name
        externalId: externalId
        id: id
        contacts:
          compliance:
            phone: phone
            name: name
            email: email
          primary:
            phone: phone
            name: name
            email: email
        prescribers:
        - credentials: credentials
          licenseStates:
          - licenseStates
          - licenseStates
          npi: npi
          name: name
        - credentials: credentials
          licenseStates:
          - licenseStates
          - licenseStates
          npi: npi
          name: name
        object: practice
      properties:
        address:
          $ref: "#/components/schemas/createPractice_200_response_address"
        contacts:
          $ref: "#/components/schemas/createPractice_200_response_contacts"
        created:
          nullable: true
          type: number
        externalId:
          nullable: true
          type: string
        id:
          nullable: true
          type: string
        legalName:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        object:
          enum:
          - practice
          type: string
        prescribers:
          items:
            $ref: "#/components/schemas/createPractice_request_prescribers_inner"
          type: array
        supportEmail:
          nullable: true
          type: string
        supportPhone:
          nullable: true
          type: string
        timezone:
          nullable: true
          type: string
      required:
      - address
      - contacts
      - created
      - externalId
      - id
      - legalName
      - name
      - object
      - prescribers
      - supportEmail
      - supportPhone
      - timezone
    listWebhookEndpoints_200_response_endpoints_inner:
      additionalProperties: {}
      example:
        createdAt: createdAt
        livemode: true
        enabledEvents:
        - enabledEvents
        - enabledEvents
        id: id
        url: url
        updatedAt: updatedAt
      properties:
        createdAt:
          nullable: true
          type: string
        enabledEvents:
          items:
            type: string
          type: array
        id:
          nullable: true
          type: string
        livemode:
          type: boolean
        updatedAt:
          nullable: true
          type: string
        url:
          nullable: true
          type: string
      required:
      - createdAt
      - enabledEvents
      - id
      - livemode
      - updatedAt
      - url
    listWebhookEndpoints_200_response:
      additionalProperties: {}
      example:
        endpoints:
        - createdAt: createdAt
          livemode: true
          enabledEvents:
          - enabledEvents
          - enabledEvents
          id: id
          url: url
          updatedAt: updatedAt
        - createdAt: createdAt
          livemode: true
          enabledEvents:
          - enabledEvents
          - enabledEvents
          id: id
          url: url
          updatedAt: updatedAt
      properties:
        endpoints:
          items:
            $ref: "#/components/schemas/listWebhookEndpoints_200_response_endpoints_inner"
          type: array
      required:
      - endpoints
    createWebhookEndpoint_request:
      additionalProperties: {}
      properties:
        enabledEvents:
          items:
            maxLength: 120
            minLength: 1
            type: string
          type: array
    createWebhookEndpoint_200_response_endpoint:
      additionalProperties: false
      example:
        createdAt: createdAt
        livemode: true
        enabledEvents:
        - enabledEvents
        - enabledEvents
        id: id
        url: url
        updatedAt: updatedAt
      properties:
        createdAt:
          type: string
        enabledEvents:
          items:
            type: string
          type: array
        id:
          type: string
        livemode:
          type: boolean
        updatedAt:
          type: string
        url:
          type: string
      required:
      - createdAt
      - enabledEvents
      - id
      - livemode
      - updatedAt
      - url
    createWebhookEndpoint_200_response:
      additionalProperties: {}
      example:
        endpoint:
          createdAt: createdAt
          livemode: true
          enabledEvents:
          - enabledEvents
          - enabledEvents
          id: id
          url: url
          updatedAt: updatedAt
        signingSecret: signingSecret
      properties:
        endpoint:
          $ref: "#/components/schemas/createWebhookEndpoint_200_response_endpoint"
        signingSecret:
          nullable: true
          type: string
      required:
      - endpoint
      - signingSecret
    deleteWebhookEndpoint_200_response:
      additionalProperties: {}
      example:
        endpoint:
          createdAt: createdAt
          livemode: true
          enabledEvents:
          - enabledEvents
          - enabledEvents
          id: id
          url: url
          updatedAt: updatedAt
      properties:
        endpoint:
          $ref: "#/components/schemas/createWebhookEndpoint_200_response_endpoint"
      required:
      - endpoint
    updateWebhookEndpoint_request:
      additionalProperties: {}
      properties:
        enabledEvents:
          items:
            maxLength: 120
            minLength: 1
            type: string
          type: array
      required:
      - enabledEvents
    listWebhookEvents_200_response_events_inner:
      additionalProperties: {}
      example:
        createdAt: createdAt
        livemode: true
        eventType: eventType
        id: id
        objectId: objectId
        objectType: objectType
        updatedAt: updatedAt
      properties:
        createdAt:
          nullable: true
          type: string
        eventType:
          nullable: true
          type: string
        id:
          nullable: true
          type: string
        livemode:
          type: boolean
        objectId:
          nullable: true
          type: string
        objectType:
          nullable: true
          type: string
        updatedAt:
          nullable: true
          type: string
      required:
      - createdAt
      - eventType
      - id
      - livemode
      - objectId
      - objectType
      - updatedAt
    listWebhookEvents_200_response:
      additionalProperties: {}
      example:
        events:
        - createdAt: createdAt
          livemode: true
          eventType: eventType
          id: id
          objectId: objectId
          objectType: objectType
          updatedAt: updatedAt
        - createdAt: createdAt
          livemode: true
          eventType: eventType
          id: id
          objectId: objectId
          objectType: objectType
          updatedAt: updatedAt
      properties:
        events:
          items:
            $ref: "#/components/schemas/listWebhookEvents_200_response_events_inner"
          type: array
      required:
      - events
    getWebhookEvent_200_response_attempts_inner:
      additionalProperties: {}
      example:
        responseBody: responseBody
        success: true
        errorMessage: errorMessage
        id: id
        responseStatus: 0.8008281904610115
        attemptedAt: attemptedAt
      properties:
        attemptedAt:
          nullable: true
          type: string
        errorMessage:
          nullable: true
          type: string
        id:
          nullable: true
          type: string
        responseBody:
          nullable: true
          type: string
        responseStatus:
          nullable: true
          type: number
        success:
          type: boolean
      required:
      - attemptedAt
      - errorMessage
      - id
      - responseBody
      - responseStatus
      - success
    getWebhookEvent_200_response_deliveries_inner:
      additionalProperties: {}
      example:
        lastError: lastError
        endpointId: endpointId
        attemptCount: 6.027456183070403
        id: id
      properties:
        attemptCount:
          nullable: true
          type: number
        endpointId:
          nullable: true
          type: string
        id:
          nullable: true
          type: string
        lastError:
          nullable: true
          type: string
      required:
      - attemptCount
      - endpointId
      - id
      - lastError
    getWebhookEvent_200_response_event:
      additionalProperties: false
      example:
        createdAt: createdAt
        livemode: true
        eventType: eventType
        id: id
        objectId: objectId
        objectType: objectType
        updatedAt: updatedAt
      properties:
        createdAt:
          type: string
        eventType:
          type: string
        id:
          type: string
        livemode:
          type: boolean
        objectId:
          type: string
        objectType:
          type: string
        updatedAt:
          type: string
      required:
      - createdAt
      - eventType
      - id
      - livemode
      - objectId
      - objectType
      - updatedAt
    getWebhookEvent_200_response:
      additionalProperties: {}
      example:
        event:
          createdAt: createdAt
          livemode: true
          eventType: eventType
          id: id
          objectId: objectId
          objectType: objectType
          updatedAt: updatedAt
        attempts:
        - responseBody: responseBody
          success: true
          errorMessage: errorMessage
          id: id
          responseStatus: 0.8008281904610115
          attemptedAt: attemptedAt
        - responseBody: responseBody
          success: true
          errorMessage: errorMessage
          id: id
          responseStatus: 0.8008281904610115
          attemptedAt: attemptedAt
        deliveries:
        - lastError: lastError
          endpointId: endpointId
          attemptCount: 6.027456183070403
          id: id
        - lastError: lastError
          endpointId: endpointId
          attemptCount: 6.027456183070403
          id: id
      properties:
        attempts:
          items:
            $ref: "#/components/schemas/getWebhookEvent_200_response_attempts_inner"
          type: array
        deliveries:
          items:
            $ref: "#/components/schemas/getWebhookEvent_200_response_deliveries_inner"
          type: array
        event:
          $ref: "#/components/schemas/getWebhookEvent_200_response_event"
      required:
      - attempts
      - deliveries
      - event
    replayWebhookEvent_200_response_attempts_inner:
      additionalProperties: false
      example:
        responseBody: responseBody
        success: true
        errorMessage: errorMessage
        id: id
        responseStatus: 0.8008281904610115
        attemptedAt: attemptedAt
      properties:
        attemptedAt:
          type: string
        errorMessage:
          nullable: true
          type: string
        id:
          type: string
        responseBody:
          nullable: true
          type: string
        responseStatus:
          nullable: true
          type: number
        success:
          type: boolean
      required:
      - attemptedAt
      - errorMessage
      - id
      - responseBody
      - responseStatus
      - success
    replayWebhookEvent_200_response_deliveries_inner:
      additionalProperties: false
      example:
        lastError: lastError
        endpointId: endpointId
        attemptCount: 6.027456183070403
        id: id
      properties:
        attemptCount:
          type: number
        endpointId:
          type: string
        id:
          type: string
        lastError:
          nullable: true
          type: string
      required:
      - attemptCount
      - endpointId
      - id
      - lastError
    replayWebhookEvent_200_response:
      additionalProperties: {}
      example:
        event:
          createdAt: createdAt
          livemode: true
          eventType: eventType
          id: id
          objectId: objectId
          objectType: objectType
          updatedAt: updatedAt
        attempts:
        - responseBody: responseBody
          success: true
          errorMessage: errorMessage
          id: id
          responseStatus: 0.8008281904610115
          attemptedAt: attemptedAt
        - responseBody: responseBody
          success: true
          errorMessage: errorMessage
          id: id
          responseStatus: 0.8008281904610115
          attemptedAt: attemptedAt
        deliveries:
        - lastError: lastError
          endpointId: endpointId
          attemptCount: 6.027456183070403
          id: id
        - lastError: lastError
          endpointId: endpointId
          attemptCount: 6.027456183070403
          id: id
      properties:
        attempts:
          items:
            $ref: "#/components/schemas/replayWebhookEvent_200_response_attempts_inner"
          type: array
        deliveries:
          items:
            $ref: "#/components/schemas/replayWebhookEvent_200_response_deliveries_inner"
          type: array
        event:
          $ref: "#/components/schemas/getWebhookEvent_200_response_event"
      required:
      - attempts
      - deliveries
      - event
  securitySchemes:
    bearerAuth:
      description: Server-side Affinity service key using the Bearer authentication
        scheme.
      scheme: bearer
      type: http
    affinityApiKey:
      description: Server-side Affinity service key. Use this header when bearer authorization
        is unavailable.
      in: header
      name: x-affinity-api-key
      type: apiKey
x-tagGroups:
- name: Platform
  tags:
  - System
  - Account
  - Admin
  - Invites
- name: Practices
  tags:
  - Practices
  - Practice Settings
- name: Catalog
  tags:
  - Compounders
  - Catalog
- name: Developers
  tags:
  - API Keys
  - Platform Organization
- name: Prescribing
  tags:
  - ERX Setup
  - Prescriptions
  - ERX Operations
- name: Pharmacy
  tags:
  - Pharmacy Organization
  - Pharmacy Orders
