openapi: 3.1.1
info:
  contact:
    email: support@joinaffinityai.com
    name: Affinity API Support
  description: "Affinity API for software platforms connecting practices to the compounder\
    \ network. A practice is the customer organization, a provider is an individual\
    \ clinician or prescriber, and a location is a physical practice site. The API\
    \ covers practice management, catalog discovery, prescription-order submission,\
    \ fulfillment tracking, and webhooks."
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Affinity API
  version: 2026-07-19
servers:
- description: Production
  url: https://api.joinaffinityai.com
security:
- bearerAuth: []
- affinityApiKey: []
paths:
  /v1/account:
    get:
      description: Returns the platform organization and the current role.
      operationId: getAccount
      parameters:
      - explode: true
        in: query
        name: orgId
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAccountResponse"
          description: Successful response
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad request
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - idempotency_key_too_long
          - invalid_cursor
          - invalid_id
          - invalid_request
          - practice_attestation_required
          - unsupported_api_version
        "401":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - live_mode_not_approved
          - permission_denied
          - platform_account_not_found
          - platform_account_required
          - platform_authorization_changed
          - practice_not_accessible
        "429":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Too many requests
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - rate_limit_exceeded
        "500":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - api_error
          - internal_server_error
      summary: Read account
      tags:
      - Platforms
      x-pier:
        domain: platform
        exportName: organization
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.organization
        visibility: public
      x-affinity-version-default: service_account
      x-accepts:
      - application/json
      - application/problem+json
  /v1/auth/access:
    get:
      description: "Returns the subject, mode, and scopes for the API key."
      operationId: getApiAccess
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetApiAccessResponse"
          description: Successful response
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad request
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - idempotency_key_too_long
          - invalid_cursor
          - invalid_id
          - invalid_request
          - practice_attestation_required
          - unsupported_api_version
        "401":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - live_mode_not_approved
          - permission_denied
          - platform_account_not_found
          - platform_account_required
          - platform_authorization_changed
          - practice_not_accessible
        "429":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Too many requests
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - rate_limit_exceeded
        "500":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - api_error
          - internal_server_error
      summary: Read API key access
      tags:
      - API Keys
      x-pier:
        domain: platform.public-api
        exportName: apiAccess
        file: apps/api-v2/src/routes/platform/public-api/public-api.endpoints.ts
        name: platform.public-api.apiAccess
        visibility: public
      x-affinity-version-default: service_account
      x-accepts:
      - application/json
      - application/problem+json
  /v1/catalog/items:
    get:
      description: Lists the catalog items that are eligible for the authenticated
        account and mode.
      operationId: listCatalogItems
      parameters:
      - explode: true
        in: query
        name: query
        required: false
        schema:
          maxLength: 120
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: startingAfter
        required: false
        schema:
          pattern: "^cat_[0-9a-hjkmnp-tv-z]{26}$"
          type: string
        style: form
      - explode: true
        in: query
        name: endingBefore
        required: false
        schema:
          pattern: "^cat_[0-9a-hjkmnp-tv-z]{26}$"
          type: string
        style: form
      - explode: true
        in: query
        name: route
        required: false
        schema:
          default: all
          enum:
          - all
          - injectable
          - nasal
          - oral
          - sublingual
          - topical
          - unknown
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCatalogItemsResponse"
          description: Successful response
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad request
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - idempotency_key_too_long
          - invalid_cursor
          - invalid_id
          - invalid_request
          - practice_attestation_required
          - unsupported_api_version
        "401":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - live_mode_not_approved
          - permission_denied
          - platform_account_not_found
          - platform_account_required
          - platform_authorization_changed
          - practice_not_accessible
        "429":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Too many requests
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - rate_limit_exceeded
        "500":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - api_error
          - internal_server_error
      summary: List catalog items
      tags:
      - Catalog
      x-pier:
        domain: platform
        exportName: catalogItems
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.catalogItems
        visibility: public
      x-affinity-version-default: service_account
      x-accepts:
      - application/json
      - application/problem+json
  /v1/orders:
    get:
      operationId: listOrders
      parameters:
      - explode: true
        in: query
        name: externalOrderId
        required: false
        schema:
          maxLength: 120
          minLength: 1
          type: string
        style: form
      - explode: true
        in: query
        name: patientExternalId
        required: false
        schema:
          maxLength: 120
          minLength: 1
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: startingAfter
        required: false
        schema:
          pattern: "^ord_[0-9a-hjkmnp-tv-z]{26}$"
          type: string
        style: form
      - explode: true
        in: query
        name: endingBefore
        required: false
        schema:
          pattern: "^ord_[0-9a-hjkmnp-tv-z]{26}$"
          type: string
        style: form
      - explode: true
        in: query
        name: practiceId
        required: false
        schema:
          pattern: "^prac_[0-9a-hjkmnp-tv-z]{26}$"
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - blocked
          - cancelled
          - delivered
          - draft
          - processing
          - shipped
          - submitted
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOrdersResponse"
          description: Successful response
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad request
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - idempotency_key_too_long
          - invalid_cursor
          - invalid_id
          - invalid_request
          - practice_attestation_required
          - unsupported_api_version
        "401":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - live_mode_not_approved
          - permission_denied
          - platform_account_not_found
          - platform_account_required
          - platform_authorization_changed
          - practice_not_accessible
        "429":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Too many requests
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - rate_limit_exceeded
        "500":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - api_error
          - internal_server_error
      summary: List platform orders
      tags:
      - Platform Orders
      x-pier:
        domain: platform
        exportName: orders
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.orders
        visibility: public
      x-affinity-version-default: service_account
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: "Creates an editable test draft. In live mode, it releases an existing\
        \ signed prescription version."
      operationId: createOrder
      parameters:
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            examples:
              example1:
                value:
                  catalogItemId: cat_01j00000000000000000000000
                  practiceId: prac_01j00000000000000000000000
                  directions: Inject 0.25 mL subcutaneously once weekly.
                  externalOrderId: order_123
                  patient:
                    address:
                      city: Los Angeles
                      country: US
                      line1: 100 Main Street
                      line2: null
                      postalCode: "90001"
                      state: CA
                    dateOfBirth: 1988-05-12
                    email: patient@example.com
                    externalPatientId: patient_123
                    name: Example Patient
                    state: CA
                  prescriber:
                    credentials: MD
                    licenseStates:
                    - CA
                    name: Alex Morgan
                    npi: "1234567893"
                  prescription:
                    authorized: true
                    signedAt: 2026-07-10T12:00:00.000Z
                  quantity: 1
              example2:
                value:
                  practiceId: prac_01j00000000000000000000000
                  externalOrderId: live_order_123
                  pharmacyOrganizationId: pharm_01j00000000000000000000000
                  prescriptionId: rx_01j00000000000000000000000
                  prescriptionVersionId: rxv_01j00000000000000000000000
                  registeredLocationId: loc_01j00000000000000000000000
                  shippingAddress:
                    city: Los Angeles
                    country: US
                    line1: 100 Main Street
                    line2: null
                    postalCode: "90001"
                    state: CA
            schema:
              $ref: "#/components/schemas/CreateOrderRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateOrderResponse"
          description: Successful response
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad request
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - idempotency_key_too_long
          - invalid_cursor
          - invalid_id
          - invalid_request
          - practice_attestation_required
          - unsupported_api_version
        "401":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - live_mode_not_approved
          - permission_denied
          - platform_account_not_found
          - platform_account_required
          - platform_authorization_changed
          - practice_not_accessible
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Conflict
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - conflict
          - idempotency_key_reused
          - idempotency_request_in_progress
          - idempotency_response_unavailable
        "429":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Too many requests
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - rate_limit_exceeded
        "500":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - api_error
          - internal_server_error
      summary: Create order
      tags:
      - Platform Orders
      x-pier:
        domain: platform
        exportName: orderCreate
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.orderCreate
        visibility: public
      x-affinity-version-default: service_account
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/orders/{orderId}:
    get:
      operationId: getOrder
      parameters:
      - explode: false
        in: path
        name: orderId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrderResponse"
          description: Successful response
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad request
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - idempotency_key_too_long
          - invalid_cursor
          - invalid_id
          - invalid_request
          - practice_attestation_required
          - unsupported_api_version
        "401":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - live_mode_not_approved
          - permission_denied
          - platform_account_not_found
          - platform_account_required
          - platform_authorization_changed
          - practice_not_accessible
        "404":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not found
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - not_found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Too many requests
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - rate_limit_exceeded
        "500":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - api_error
          - internal_server_error
      summary: Read order
      tags:
      - Platform Orders
      x-pier:
        domain: platform
        exportName: orderRead
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.orderRead
        visibility: public
      x-affinity-version-default: service_account
      x-accepts:
      - application/json
      - application/problem+json
    patch:
      description: Updates a test order that is in the draft state.
      operationId: updateOrder
      parameters:
      - explode: false
        in: path
        name: orderId
        required: true
        schema:
          type: string
        style: simple
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrderRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOrderResponse"
          description: Successful response
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad request
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - idempotency_key_too_long
          - invalid_cursor
          - invalid_id
          - invalid_request
          - practice_attestation_required
          - unsupported_api_version
        "401":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - live_mode_not_approved
          - permission_denied
          - platform_account_not_found
          - platform_account_required
          - platform_authorization_changed
          - practice_not_accessible
        "404":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not found
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - not_found
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Conflict
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - conflict
          - idempotency_key_reused
          - idempotency_request_in_progress
          - idempotency_response_unavailable
        "429":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Too many requests
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - rate_limit_exceeded
        "500":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - api_error
          - internal_server_error
      summary: Update draft order
      tags:
      - Platform Orders
      x-pier:
        domain: platform
        exportName: orderUpdate
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.orderUpdate
        visibility: public
      x-affinity-version-default: service_account
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/orders/{orderId}/cancel:
    post:
      description: "Cancels an order before shipment. To correct an order, cancel\
        \ it and create a replacement."
      operationId: cancelOrder
      parameters:
      - explode: false
        in: path
        name: orderId
        required: true
        schema:
          type: string
        style: simple
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelOrderRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelOrderResponse"
          description: Successful response
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad request
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - idempotency_key_too_long
          - invalid_cursor
          - invalid_id
          - invalid_request
          - practice_attestation_required
          - unsupported_api_version
        "401":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - live_mode_not_approved
          - permission_denied
          - platform_account_not_found
          - platform_account_required
          - platform_authorization_changed
          - practice_not_accessible
        "404":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not found
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - not_found
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Conflict
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - conflict
          - idempotency_key_reused
          - idempotency_request_in_progress
          - idempotency_response_unavailable
        "429":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Too many requests
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - rate_limit_exceeded
        "500":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - api_error
          - internal_server_error
      summary: Cancel order
      tags:
      - Platform Orders
      x-pier:
        domain: platform
        exportName: orderCancel
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.orderCancel
        visibility: public
      x-affinity-version-default: service_account
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/orders/{orderId}/events:
    get:
      operationId: listOrderEvents
      parameters:
      - explode: false
        in: path
        name: orderId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: startingAfter
        required: false
        schema:
          pattern: "^evt_[0-9a-hjkmnp-tv-z]{26}$"
          type: string
        style: form
      - explode: true
        in: query
        name: endingBefore
        required: false
        schema:
          pattern: "^evt_[0-9a-hjkmnp-tv-z]{26}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOrderEventsResponse"
          description: Successful response
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad request
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - idempotency_key_too_long
          - invalid_cursor
          - invalid_id
          - invalid_request
          - practice_attestation_required
          - unsupported_api_version
        "401":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - live_mode_not_approved
          - permission_denied
          - platform_account_not_found
          - platform_account_required
          - platform_authorization_changed
          - practice_not_accessible
        "404":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not found
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - not_found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Too many requests
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - rate_limit_exceeded
        "500":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - api_error
          - internal_server_error
      summary: List order events
      tags:
      - Platform Orders
      x-pier:
        domain: platform
        exportName: orderEvents
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.orderEvents
        visibility: public
      x-affinity-version-default: service_account
      x-accepts:
      - application/json
      - application/problem+json
  /v1/orders/{orderId}/submit:
    post:
      description: Checks a test draft and submits it to the test review queue.
      operationId: submitOrder
      parameters:
      - explode: false
        in: path
        name: orderId
        required: true
        schema:
          type: string
        style: simple
      - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitOrderResponse"
          description: Successful response
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad request
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - idempotency_key_too_long
          - invalid_cursor
          - invalid_id
          - invalid_request
          - practice_attestation_required
          - unsupported_api_version
        "401":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - live_mode_not_approved
          - permission_denied
          - platform_account_not_found
          - platform_account_required
          - platform_authorization_changed
          - practice_not_accessible
        "404":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not found
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - not_found
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Conflict
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - conflict
          - idempotency_key_reused
          - idempotency_request_in_progress
          - idempotency_response_unavailable
        "429":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Too many requests
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - rate_limit_exceeded
        "500":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - api_error
          - internal_server_error
      summary: Submit order
      tags:
      - Platform Orders
      x-pier:
        domain: platform
        exportName: orderSubmit
        file: apps/api-v2/src/routes/platform/platform.endpoints.ts
        name: platform.orderSubmit
        visibility: public
      x-affinity-version-default: service_account
      x-accepts:
      - application/json
      - application/problem+json
  /v1/practices:
    get:
      operationId: listPractices
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: startingAfter
        required: false
        schema:
          pattern: "^prac_[0-9a-hjkmnp-tv-z]{26}$"
          type: string
        style: form
      - explode: true
        in: query
        name: endingBefore
        required: false
        schema:
          pattern: "^prac_[0-9a-hjkmnp-tv-z]{26}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPracticesResponse"
          description: Successful response
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad request
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - idempotency_key_too_long
          - invalid_cursor
          - invalid_id
          - invalid_request
          - practice_attestation_required
          - unsupported_api_version
        "401":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - live_mode_not_approved
          - permission_denied
          - platform_account_not_found
          - platform_account_required
          - platform_authorization_changed
          - practice_not_accessible
        "429":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Too many requests
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - rate_limit_exceeded
        "500":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - api_error
          - internal_server_error
      summary: List practices
      tags:
      - Practices
      x-pier:
        domain: platform.public-api
        exportName: practices
        file: apps/api-v2/src/routes/platform/public-api/public-api.endpoints.ts
        name: platform.public-api.practices
        visibility: public
      x-affinity-version-default: service_account
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: Creates a practice for the platform. Send Idempotency-Key when
        you retry the same request.
      operationId: createPractice
      parameters:
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            examples:
              example1:
                value:
                  address:
                    city: Los Angeles
                    country: US
                    line1: 100 Practice Way
                    line2: null
                    postalCode: "90001"
                    state: CA
                  attestations:
                    authorizedPracticeRelationship: true
                    authorizedPhiTransfer: true
                    minimumNecessaryPhi: true
                    providerDataAccuracy: true
                  complianceContact: null
                  externalId: practice_123
                  legalName: Example Medical Group PLLC
                  metadata: {}
                  name: Example Medical Group
                  prescribers:
                  - credentials: MD
                    licenseStates:
                    - CA
                    name: Alex Morgan
                    npi: "1234567893"
                  primaryContact:
                    email: operations@example-practice.com
                    name: Jordan Lee
                    phone: null
                  supportEmail: support@example-practice.com
                  supportPhone: null
                  timezone: America/Los_Angeles
            schema:
              $ref: "#/components/schemas/CreatePracticeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePracticeResponse"
          description: Successful response
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad request
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - idempotency_key_too_long
          - invalid_cursor
          - invalid_id
          - invalid_request
          - practice_attestation_required
          - unsupported_api_version
        "401":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - live_mode_not_approved
          - permission_denied
          - platform_account_not_found
          - platform_account_required
          - platform_authorization_changed
          - practice_not_accessible
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Conflict
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - conflict
          - idempotency_key_reused
          - idempotency_request_in_progress
          - idempotency_response_unavailable
        "429":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Too many requests
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - rate_limit_exceeded
        "500":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - api_error
          - internal_server_error
      summary: Create practice
      tags:
      - Practices
      x-pier:
        domain: platform.public-api
        exportName: practiceCreate
        file: apps/api-v2/src/routes/platform/public-api/public-api.endpoints.ts
        name: platform.public-api.practiceCreate
        visibility: public
      x-affinity-version-default: service_account
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/practices/{practiceId}:
    get:
      description: Returns one practice that belongs to the platform.
      operationId: getPractice
      parameters:
      - explode: false
        in: path
        name: practiceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPracticeResponse"
          description: Successful response
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad request
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - idempotency_key_too_long
          - invalid_cursor
          - invalid_id
          - invalid_request
          - practice_attestation_required
          - unsupported_api_version
        "401":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - live_mode_not_approved
          - permission_denied
          - platform_account_not_found
          - platform_account_required
          - platform_authorization_changed
          - practice_not_accessible
        "404":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not found
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - not_found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Too many requests
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - rate_limit_exceeded
        "500":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - api_error
          - internal_server_error
      summary: Read practice
      tags:
      - Practices
      x-pier:
        domain: platform.public-api
        exportName: practiceRead
        file: apps/api-v2/src/routes/platform/public-api/public-api.endpoints.ts
        name: platform.public-api.practiceRead
        visibility: public
      x-affinity-version-default: service_account
      x-accepts:
      - application/json
      - application/problem+json
    patch:
      description: Updates one practice that belongs to the platform. Send Idempotency-Key
        when you retry the same request.
      operationId: updatePractice
      parameters:
      - explode: false
        in: path
        name: practiceId
        required: true
        schema:
          type: string
        style: simple
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePracticeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePracticeResponse"
          description: Successful response
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad request
          headers:
            Affinity-Version:
              $ref: "#/components/headers/AffinityVersion"
            RateLimit-Limit:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                type: integer
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                type: integer
              style: simple
            Request-Id:
              $ref: "#/components/headers/RequestId"
          x-affinity-error-codes:
          - idempotency_key_too_long
          - invalid_cursor
          - invalid_id
          - invalid_request
[...]
